  *  {
  margin: 0px;
}

nav {
height: 100px;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}

.card-top h3 {
text-transform: capitalize;
}

.card-type {
display: flex;
}

.card-type-text {
margin-right: 10px;
text-transform: capitalize;
}

.App {
  text-align: center;
}
